<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>.mapouter{text-align:right;height:1000px;width:1200px;}
.gmap_canvas {overflow:hidden;background:none!important;height:800px;width:1600px;}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
</style>
</head>
<body>
<div class="mapouter">
<div class="map-responsive">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3683.8919444622384!2d88.44694061481532!3d22.583144385177356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a02750de40a5dab%3A0xb42cf0b9bb29dc4c!2sIBM%20India%20Pvt.%20Ltd.!5e0!3m2!1sen!2sus!4v1578660261802!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen;></iframe></div>
</div>
</body>
</html>