<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome to the Kool App</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
  <script src="/script/uploadImage.js" type="text/javascript"></script>
</head>
<body>
 <div ng-app="fupApp" ng-controller="fupController">
        <input type="file" id="file1" name="file" multiple
            ng-files="getTheFiles($files)" />
        <input type="button" ng-click="uploadFiles()" value="Upload" />
        
        <div class="container-fluid">
		<div class="well well-sm">
		<h1>Product List</h1>      
    </div>
	<div class="row">
         <div class="col-sm-8" style="background-color:#ebe8dd;" >
			<div class="col-md-4" ng-repeat="c in comodity" >
				    <div class="thumbnail">
			    		  <a href="#">
			        	   <img src="{{c.imageRetrievalUrl}}" style="width:100%; height:250px " class="img-square">
			        		<div class="caption">
			            	<p>{{c.skuAttribute1}}: {{c.skuAttributeValue1}}</p>
			            	<p>{{c.skuAttribute2}}: {{c.skuAttributeValue2}}</p>
			      		    </div>
			      		</a>
			    	 </div>
		    	</div>
	       </div>       
	</div>
		  
	<div class="jumbotron" ng-show="hide" >
    <h1 >Ooops !!! No Product available.</h1>      
    <h2>Products are coming soon.</h2>
    </div>
		  
    </div>        
 </div>

     </body>
</html>